# Node dependencies (the most important!)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.*.local

# Build output & cache
dist/
build/
coverage/
.eslintcache
.cache/